$basic-font: "Indie Flower", Arial, cursive;
@mixin flex-col {
  display: flex;
  flex-direction: column;
}
@mixin form-style {
  background-color: transparent;
  font-size: 20px;
  font-family: $basic-font;
  margin-bottom: 20px;
  margin: 7px;
  border: none;
  border-bottom: 1px solid black;
}
body {
  background-image: url(bg-color.jpg);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.container__info {
  display: flex;
  justify-content: space-around;
}
form {
  text-align: center;
  margin: 10px;
  color: black;
  @include flex-col();
  border-radius: 5px;
}
label {
  font-size: 27px;
  font-family: $basic-font;
}
.container__comments {
  width: 500px;
  height: 600px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: transparent;
  box-shadow: 2px 2px 25px 0 rgb(4, 4, 4);
  backdrop-filter: blur(10px);
}
.container__chat {
  @include flex-col();
  background-color: transparent;
  border: 1px solid black;
  width: 500px;
  height: 600px;
  border-radius: 5px;
  box-shadow: 2px 2px 25px 0 rgb(4, 4, 4);
  backdrop-filter: blur(10px);
}
.conatiner__main-title {
  text-align: center;
  font-size: 50px;
  font-family: $basic-font;
}
.container__title {
  text-align: center;
    font-size: 30px;
  font-family: $basic-font;
}
.container__input {
  @include form-style();
  height: 50px;
}
.container__textarea {
  max-width: 460px;
  height: 100px;
  @include form-style();
}
.container__btn {
  background-color: #344b4f;
  color: #b9dadf;
  font-family: $basic-font;
  font-size: 40px;
  height: 80px;
  margin: 10px;
  cursor: pointer;
  border: none;
}
.container__btn:hover {
  opacity: 0.8;
  border: 3px solid #070707;
}
.container__chat{
  text-align: center;
}
.chat__txt{
  color: #070707;
}
.chat__img{
  width: 60px;
  height: 60px;
}
